<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
	<title>Help Queue</title>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
	<div id="displayTicketsDiv">
		<ul id="displayTicketsList">
			{% for ticket in tickets %}
				<li id="ticket">ticket[3]</li>
			{% else %}
			<li>Nobody is on the queue!</li>
			{% endfor %}
		</ul>
	</div>
	<div id="addTicketDiv">
		<form id="addTicketForm" action="add" method="post">
			<dl>
				<dt>Name:
				<dd><input type="text" name="name">
				<dt>Location:
				<dd><input type="text" name="location">
				<dt>Description of Problem:
				<dd><input type="text" name="description">
				<input type="submit" value="submit">
		</form>
	</div>
</body>
