<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
	<title>{{queue}}</title>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>
	<div id="headerDiv">
		<div id="navBarDiv">
			<h3 class="nameHeader" id="{{studentID}}">Welcome {{name}}</h3>
			<h3 id="adminLogout">Not <em>{{name}}</em>? Click here.</h3>
		</div>
	</div>
</body>
