<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
	<title>Help Queue</title>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
	<div id="headerDiv">
		{{queue}}
	</div>
	<div id="adminLoginDiv">
		<form id="adminLoginForm" action="adminLogin" method="post">
			<div>Log in to help people on the queue.</div>
			<dl>
				<dt>Name:
				<dd><input type="text" name="name">
				<dt>Location:
				<dd><input type="text" name="location">
				<dt>Password:
				<dd><input type="password" name="password">
				<input type="submit" value="submit">
		</form>
	</div>
</body>
