<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
	<title>{{queue}}</title>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>
	<div id="headerDiv">
		<div id="navBarDiv">
			<h3 class="nameHeader" id="{{studentID}}">Welcome {{name}}</h3>
			<h3 id="adminLogout">Log out</h3>
		</div>
	</div>
	<div id="displayTicketsDiv">
		{{queue}}
		<ul id="displayTicketsList">
			{% for ticket in tickets %}
				<li id="{{ticket.ticketID}}" class="ticket{{ticket.studentID}} adminTicket">
					<div class="adminTicketBody">{{ticket.name}} -- {{ticket.description}}</div>
					<div class="adminTicketExpand">{{ticket.location}}</div>
					<div class="adminTicketDelete"></div>
				</li>
			{% else %}
			<li class="noTickets">Nobody is on the queue!</li>
			{% endfor %}
		</ul>
	</div>
</body>
