<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
	<title>{{queue}}</title>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
	<div id="headerDiv">
		<div id="navBarDiv">
			<h3 class="nameHeader" id="{{studentID}}">Welcome, {{name}}</h3>
			<h4 id="logout">Not <b>{{name}}</b>? Click here.</h4>
		</div>
	</div>
	<div id="displayTicketsDiv">
		<h3>Queue</h3>
		<ul id="displayTicketsList">
			{% for ticket in tickets %}
				<li id="{{ticket.ticketID}}" class="ticket{{ticket.studentID}}">{{ticket.name}}</li>
			{% else %}
			<li>Nobody is on the queue!</li>
			{% endfor %}
		</ul>
	</div>
	<div id="addTicketDiv">
		<form id="addTicketForm" action="addTicket" method="post">
			<dl>
				<dt>Description of Problem:
				<dd><input type="text" name="description">
				<input type="submit" value="Join Queue">
		</form>
	</div>
	<div id="displayTeachersDiv">
		People helping the queue:
		<ul id="displayTeachersList">
			{% for teacher in teachers %}
				<li class="teacher">{{teacher.name}}--{{teacher.location}}</li>
			{% else %}
			<li>Nobody is helping :(</li>
			{% endfor %}
		</ul>
	</div>
</body>
