<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
	<title>Help Queue</title>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
	<div id="headerDiv">
		<div id="navBarDiv">
			<h3 class="nameHeader" id="{{studentID}}">Welcome {{name}}</h3>
			<h3 id="logout">Not {{name}}? Click here.</h3>
		</div>
	</div>

	<div id="displayTicketsDiv">
		<ul id="displayTicketsList">
			{% for ticket in tickets %}
				<li id="{{ticket[0]}}" class="ticket{{ticket[5]}}">{{ticket[0:7]}}</li>
			{% else %}
			<li>Nobody is on the queue!</li>
			{% endfor %}
		</ul>
	</div>
</body>
